
.uul{list-style: none;text-decoration: none;margin-left: -150px; text-align: center;}
.lli{font-size: 10px; color: white;}
.nnav{background-color: black;width: 100%;}
.secc{background-image: url(./fotos/fondo.jpg); height: 100vh;overflow: hidden;}
@keyframes juli2 {
    
    0%{background-color: rgb(22, 74, 74);padding-left: 0px;}
    
    35%{background-color: rgb(7, 158, 158);padding-left: 500px;}
    
    75%{background-color: rgb(1, 104, 104);padding-left: 1000px;}
    
    80%{background-color: rgb(1, 58, 58);padding-left: 2000px;}
    90%{background-color: rgb(0, 0, 0);}
    100%{background-color:rgb(165, 70, 180);}
    
    
    }
    @keyframes yoidolo{
    
        0%{box-shadow:   -10px 32px 50px 0px  violet ;z-index: 4;}
      
        35%{box-shadow:  -10px 32px 50px 0px  blue ;z-index: 4; }
        
        75%{box-shadow:   -10px 32px 50px 0px  purple ;z-index: 4;}
          
        80%{box-shadow:  -10px 32px 50px 0px   red ;z-index: 4;}
        100%{box-shadow: -10px 32px 50px 0px  rgb(101, 107, 124) ;z-index: 4;  }
    
    }
    
    
    
    .linea22{padding-top: 0px;height: 10px;width: 0px;background-color:rgb(200, 0, 255);z-index: 3;position: fixed;animation: juli2 6s forwards;animation-iteration-count: 1;animation-delay: 2s;}
    
    
    *{margin: 0px;}
 
    
    .jojo222{background-image: url(./fotos/3.png);background-size: cover;
      height: 100px; width: 100px;
      font-size:  10px;text-align: center;justify-content: center;align-items: center;
        animation:mario7 5s  forwards 
      ; animation-iteration-count: 1;
       position: relative; top: 300px;left: 700px;
       z-index: 1
    }
    
    .jojo22{background-image: url(./fotos/2.png);background-size: cover;
      height: 100px; width: 100px;
      font-size:  10px;text-align: center;justify-content: center;align-items: center;
        animation:mario27 8s  forwards 
      ; animation-iteration-count: 1;
      position: relative; top: 300px;left: 300px;
      z-index: 2
    }
    
    .jojo32{background-image: url(../assets/.png);background-size: cover;
      height: 100px; width: 100px;
      font-size:  10px;text-align: center;justify-content: center;align-items: center;
        animation:mario37 8s  forwards 
      ; animation-iteration-count: 1;
      position: relative; top: 300px;left: -100px;
      z-index: 3
    }
    
    .jojo42{background-image: url(./fotos/1.png);background-size: cover;
      height: 100px; width: 100px;
      font-size:  10px;text-align: center;justify-content: center;align-items: center;
        animation:mario47 8s  forwards 
      ; animation-iteration-count: 1;position: relative; top: 300px;left: -500px;
      z-index: 4;
     
    }
    .jojo52{background-image: url(./fotos/lide.jpg.crdownload);background-size: cover;
      height: 100px; width: 100px;
      font-size:  10px;text-align: center;justify-content: center;align-items: center;
        animation:mario57 5s  forwards 
      ; animation-iteration-count: 1;
       position: relative; top: 10px;left: -210px;background-position: center;
       z-index: 5
    }
     @keyframes mario7 { 
    0% { position: relative; top: 90px;left: 0px}
    25%{ position: relative; top: 180px;left: 130px}
    50%{ position: relative; top: 10px;left: 100px}
    100% { position: relative; top: 0px;left: 20px ; box-shadow: 1px 20px 40px white;}}
    @keyframes mario27 { 
      0% { position: relative; top: 500px;left: 40px}
      25%{ position: relative; top: 310px;left: -290px}
      50%{ position: relative; top: 125px;left: 100px}
      100% { position: relative; top: 0px;left: 150px; box-shadow: 1px 20px 40px white;}}
       @keyframes mario37 { 
        0% { position: relative; top: 0px;left: 10px}
        25%{ position: relative; top: 250px;left: -20px}
        50%{ position: relative; top: 85px;left: 30px}
        100% { position: relative; top: 445px;left: 40px; box-shadow: 1px 20px 40px white;}}
        @keyframes mario47 { 
          0% { position: relative; top: 10px;left: -135px}
          25%{ position: relative; top: 10px;left: -120px}
          50%{ position: relative; top: 35px;left: -86px}
          100% { position: relative; top: 300px;left: 20px; box-shadow: 1px 20px 40px white;}}
       @keyframes mario57 { 
            0% { position: relative; top: 10px;left: -210px}
            25%{ position: relative; top: 30px;left: -150px}
            50%{ position: relative; top: 35px;left: 96px}
            100% { position: relative; top: 138px;left:  30px; box-shadow: 1px 20px 40px white;;}}
            .i2{display: none;}  
            .ac{font-size: 50px;opacity: calc(0.1);}