* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 900px; /* Ampliamos el ancho máximo */
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #fff;
}

.logo {
    width: 80px;
    height: auto;
    filter: brightness(0) invert(1); 
}

.support-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-left, .form-right {
    width: 48%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    color: #fff;
    margin-bottom: 5px;
    display: block;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #005bb5;
}

/* Responsive */
@media (max-width: 900px) {
    .form-left, .form-right {
        width: 100%;
    }

    button {
        width: 100%;
        text-align: center;
    }
}

/* Estilos para los mensajes de error o éxito */
#message {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#message.error {
    color: red;
}

#message.success {
    color: green;
}