.conteiner-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.producto{
    text-align: center;
    margin: 100px;
}

h4,h3{
    text-align: center;
    font-size: medium;
}

button{
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    width: 8vw;
}

.añadirBoton:hover{
    background-color: lightblue;
}

.ropa{
    z-index: 1;
    width: 15vw;
    height: 40vh;
}