*{margin: 0px;}

.jojo{background-color: aqua;
  height: 100vh;
  width: 100%;
  font-size:  400px;
    animation:mario 3s  forwards 
  ; animation-iteration-count: 1;
   
}
 @keyframes mario { 
0% {z-index: 100;background-color: black;}
100% {z-index: 100;opacity: calc(0.0);}
}